<!-- <div class="tab">
  <button class="tablinks" onclick="openPaymentOption(event, 'Cash On Delivery')">Cash On Delivery</button>
  <button class="tablinks" onclick="openPaymentOption(event, 'Credit Card')">Credit Card</button>
  <button class="tablinks" onclick="openPaymentOption(event, 'Net Banking')">Net Banking</button>
  <button class="tablinks" onclick="openPaymentOption(event, 'UPI')">UPI</button>
  <button class="tablinks" onclick="openPaymentOption(event, 'Vouchers')">Vouchers</button>

</div> -->

<div class="sidenav">
    <a href="#">Cash On Delivery</a>
    <a href="#">Credit Card</a>
    <a href="#">Net Banking</a>
    <a href="#">UPI</a>
    <a href="#">Vouchers</a>
  
  </div>
  
    
