/* * {box-sizing: border-box}

/* Style the tab */
/* .tab {
  float: left;
  border: 1px solid green;
  background-color: green;
  width: 20%;
  height: 500px;
  text-align: center;
}

/* Style the buttons that are used to open the tab content */
/* .tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 20%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;

} */

/* Change background color of buttons on hover */
/* .tab button:hover {
  background-color:rgba(0, 128, 0, 0.829);
} */

/* Create an active/current "tab button" class */
/* .tab button.active {
  background-color:lightgreen;
} */

/* Style the tab content */
/* .tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: 200px;
  font-size: 50px;
  margin-right: 100px;
  text-align:center;
}  */

.sidenav {
    height: 70%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:green; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 140px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    width: 300px;
    height: 80px;
    text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    background-color:darkgreen;
  
  }