<h3 style="margin-left: 10px; font-family: Helvetica;">1 item that you have selected</h3>
<div class="Topcard">
    <div class="row">
        <div class="column">
            <img src="assets\image\pizza1.png" alt="Avatar">
        </div>
        <div class="column">
            <h3 style="font-family:Helvetica;">Peppy Paneer</h3>
            <p style="font-family:Helvetica;">Medium | New Hand Tossed</p>
        </div>
        <p class="Price">Price: ₹299</p>
        <div class="columnAddDelete">            
            <button class="addOrDelete">-</button>
            <button class="addOrDelete">1</button>
            <button class="addOrDelete">+</button>
        </div>
    </div>
    
</div>

<h2 style="margin-left: 10px; font-family: Helvetica; font-weight: 100; font-size:larger;">Complete your meal:</h2>
<div class="column">
    <div class="card">
        <img src="assets\image\pepsi.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4 class="extrasName">Pepsi</h4>
            <p class="extrasPrice">₹50</p>
            <button class="addExtras">Add</button>
        </div>
    </div>
</div>
<div>
    <div class="column">
        <div class="card">
            <img src="assets\image\fries.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4 class="extrasName"><b>French Fries</b></h4>
                <p class="extrasPrice">₹70</p>
                <button class="addExtras">Add</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="column">
        <div class="card">
            <img src="assets\image\donut.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4 class="extrasName"><b>Donut</b></h4>
                <p class="extrasPrice">₹120</p>
                <button class="addExtras">Add</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="column">
        <div class="card">
            <img src="assets\image\crinkle.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4 class="extrasName"><b>Crinkle Fries</b></h4>
                <p class="extrasPrice">₹50</p>
                <button class="addExtras">Add</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row1">
    <div>
        <button class="ProceedButton"(click)= "NavigateToPayment()">Proceed to Buy</button>
    </div>
    </div>


