<!-- <a style="float: right;" class="nav-item nav-link" (click)="logout()">Logout</a>
<div class="column">
    <div class="Topcard">
        <h4 style="margin-top: 20px;">Edit Region Details</h4>
        <button (click)="NavigateToRegionCrud()" class="EditButton">Edit Region</button>
    </div>
</div>
<div class="column"><div class="Topcard">
    <h4 style="margin-top: 20px;">Edit Menu Details</h4>
    <button class="EditButton">Edit Menu</button>
</div></div>
<div class="column">
    <div class="Topcard">
        <h4 style="margin-top: 20px;">Edit Topping Details</h4>
        <button class="EditButton">Edit Toppings</button>
    </div>
</div> -->
<button style="float: top;  " class="nav-item nav-link" (click)="logout()">Logout</button>
<div style="margin-left: 500px;margin-top: 150px;" class="row">
    <div class="column">
      <div class="card">
        <h3>Edit Region Details</h3>
        <button (click)="NavigateToRegionCrud()" class="EditButton">Edit Region</button>
      </div>
    </div>
  
    
  </div>